<div class="container">
    <br><h1 class="container">ESTRATEGIAS DE ACTIVIDADES FISICAS,DEPORTIVAS Y CULTURALES</h1><br>
    <ul>
      <li>Identifica el tiempo que tengas disponible. Monitorea tus actividades diarias por una semana. Luego identifica al menos cinco ratos, de treinta minutos cada uno, que puedas usar para hacer actividad física.
      </li>
      <li>Suma la actividad física a tu rutina diaria. Por ejemplo, para ir al trabajo o de compras, camina o monta tu bicicleta, organiza las actividades escolares alrededor de las actividades físicas, ejercítate mientras miras la tele, estaciona tu coche un poco más lejos de su destino y camina, etc.</li>
      <li>Programa tu actividad física para esos momentos en el día en que te sientas más energético.</li>
      <li>Planea con anticipación. Haz que la actividad física sea parte de tu agenda diaria o semanal, y anótalo así en tu calendario.</li>
      <li>Haz amistad con personas que estén físicamente activas. Inscríbete en un gimnasio o únete a un grupo, como el YMCA o un club de excursionistas.</li>
      <li>Buscar una motivación y planificar las actividades de acuerdo a tu condición física.</li>
      <li>Solicitar una valoración médica previa para conocer tu forma física antes de programar el ejercicio, especialmente si has padecido o padeces alguna enfermedad.</li>
      <li>planificar cómo alcanzar de forma progresiva las recomendaciones de actividad física:
        Analiza cuál es el nivel de actividad del que partes.
        Plantéate cuáles son los pros y contras.
        </li>
      <li>Practicar de forma regular la actividad física que escojas. Es importante que te resulte satisfactoria y divertida.</li>

      <br><h2> PAUSAS ACTIVAS</h2><br>
      <h3>La pausa activa es un espacio dentro de la jornada laboral destinado a la realización de diferentes tipos de ejercicios con el fin de prevenir lesiones osteo-musculares y la fatiga o tensión acumulada por el desarrollo de las labores cotidianas dentro de la empresa</h3><br>
      <img src="./assets/images/pausas.png" width="500px"><br>

      <ul>
        <li>Hacer dos pausas activas diariamente con una duración de 7 minutos cada una,  mejora la flexibilidad, la fuerza muscular y la movilidad articular, por medio de diferentes ejercicios diseñados para este fin.
        </li>
        <li>Las pausas activas deben combinar ejercicios de miembros superiores, tronco y miembros inferiores, con el fin de aumentar la elasticidad y movilidad articular, favorece la coordinación y la capacidad de reacción, además incrementa la resistencia a la fatiga corporal.</li>
        <li>Las Pausas activas generan espacios de interacción con el equipo de trabajo orientado a mejorar las relaciones interpersonales, promoviendo que se hagan en el mismo horario.</li>
        <li>Las pausas activas a nivel psíquico ayudan a incrementar la capacidad de autocontrol, disminuye la ansiedad, el estrés, la agresividad y la depresión. Estimula la creatividad, la capacidad afectiva y mejora la memoria.
          </li>
        </ul>

          <h2>Se debe tener en cuenta para realizar las pausas activas:</h2><br>
          <ul>
            <li>Mantener una postura adecuada durante los ejercicios</li>
            <li>Mantener la respiración rítmica, suave y lenta </li>
            <li>Sostener o contar 7 segundos durante cada ejercicio</li>
            <li>Repetir cada ejercicio de 3 a 5 veces de forma bilateral cuando se requiera</li>
          </ul>
      

      

      
    </ul>


  
  
  
  
  
    <button [routerLink]="['/','quinta-pagina'] ">TECNICAS DE VALORACION</button>
  
  </div>
