<div class="container">
    <br><h1 class="container">METODOS DE ENTRENAMIENTO FISICO</h1><br>
    <ul>
      <li>Método continuo: se basa en la ejecución de una acción de forma
        repetida y mantenida durante un período prolongado de tiempo sin
        descansos intermedios</li>
      <li>Método entrenamiento total: proviene de Bélgica y se trata de un
        método de trabajo basado en los movimientos naturales y espontáneos
        del hombre en el medio natural (marcha, cuadrúpeda, lucha, lanzamiento,
        transporte, arrastre, etc.).</li>
      <li>Método interválico: actividad que se realiza de forma fraccionada. Se combinan
        tiempos de ejercicios y de descanso</li>
      <li>Método de repeticiones: también es un entrenamiento
        fraccionado con intervalos de carrera y descanso, carrera
        y descanso, pero el deportista descansa completamente
        durante la pausa que, por lo tanto, debe ser más larga.</li>
      
    </ul>
  
  
  
  
  
  
   <br> <button [routerLink]="['/','septima-pagina'] ">EJERCICIO FISICO</button>
  </div>