<div class="container">
    <br><h1 class="container">FICHA ANTROPOMETRICA</h1><br>
    <table  class=" table table-dark">
      <thead>
        <th>DATOS PERSONALES</th>
        <td>
          
        </td>
        

      </thead>
      <tbody>
        <tr>

          <th>NOMBRE</th>
          <td> <input type="text" size="40" value="Juana Carolina Tovar Gomez"></td>

        </tr>
        <tr>

          <th>FECHA DE NACIMIENTO</th>
          <td> <input type="date" value="1997-06-27"></td>

        </tr>
        <tr>

          <td><strong>ESTATURA:</strong></td>
          <td><strong>PESO</strong></td>
          <td><strong>EDAD:</strong></td>
        
        </tr>

        <tr>
          <td><input size="8" value="1.47m"></td>
          <td><input size="8"value="52.45kg"></td>
          <td><input size="8" value="25"></td>

        </tr>
        <tr>

          <td><strong>GRADO:</strong></td>
          <td><strong>TIPO DE SANGRE:</strong></td>
          <td><strong>TEL:</strong></td>
        
        </tr>

        <tr>
          <td><input size="8" value=""></td>
          <td><input size="8"value="O+"></td>
          <td><input size="8"value="3127398424"></td>

        </tr>
        <tr> 
          <th></th>
          <th>PRINCIPALES MEDIDAS CORPORALES</th>
          <th></th>
        </tr>

        <tr> 
          <th>PERIMETRO DEL CRANEO</th>
          <th><input value="55cm"></th>
        </tr>


        <tr>
          <th rowspan="2">PERIMETRO TORACICO</th>
          <th>NORMAL&nbsp;<input value="86cm"></th>
        </tr>

        <tr>
          <th>INSPIRACION &nbsp;<input value="90cm"></th>
        </tr>

        <tr>
          <th rowspan="2">PERIMETRO BICEPS</th>
          <th>DERECHO &nbsp;NOR:&nbsp;<input value="27cm"></th>
          <th>CONT :&nbsp;<input value="30cm"></th>
        </tr>

        <tr>
          <th>IZQUIERDO &nbsp;NOR:&nbsp;<input value="28cm"></th>
          <th>CONT :&nbsp;<input value="30cm"></th>
        </tr>

        <tr>
          <th>DIAMETRO BIACROMIAL</th>
          <th><input value="37cm"></th>
          <th></th>
        </tr>

        <tr>
          <th>PERIMETRO DE CINTURA</th>
          <th><input value="78cm"></th>
          <th></th>
        </tr>

        <tr>
          <th rowspan="2">LOG. EXT. SUPERIORES</th>
          <th>DERECHA&nbsp;<input value="68cm"></th>
        </tr>
      
        <tr>
          <th>IZQUIERDA&nbsp;<input value="66cm"></th>
        </tr>

        <tr>
          <th rowspan="2">PERIMETRO DEL MUSLO</th>
          <th>DERECHO&nbsp;<input value="55cm"></th>
        </tr>
        
        <tr>
          <th>IZQUIERDO&nbsp;<input value="56cm"></th>
        </tr>

        <tr>
          <th rowspan="2">PERIMETRO PANTORRILLA</th>
          <th>DERECHA&nbsp;<input value="32cm"></th>
        </tr>
        
        <tr>
          <th>IZQUIERDA&nbsp;<input value="32cm"></th>
        </tr>

        <tr>
          <th rowspan="2">LOG. EXT. INFERIORES</th>
          <th>DERECHA&nbsp;<input value="81cm"></th>
        </tr>
        
        <tr>
          <th>IZQUIERDA&nbsp;<input value="81cm"></th>
        </tr>

        <tr>
          <th rowspan="2">ALTURA DE PIE</th>
          <th>DERECHO&nbsp;<input value="21cm"></th>
        </tr>
      
        <tr>
          <th>IZQUIERDO&nbsp;<input value="20cm"></th>
        </tr>

       




      </tbody>


    </table>
  
  
  
  
  
    <br><br><button [routerLink]="['/','cuarta-pagina'] ">ESTRATEGIAS DE ACTIVIDADES FISICAS</button>
  
  </div>