<div class="container">
    <br><h1 class="container">TEST FISICO</h1><br>
    <table  class=" table table-dark">
      <thead>
        <th>DATOS PERSONALES</th>
        <td>
          
        </td>
        

      </thead>
      <tbody>
        <tr>

          <th>NOMBRE:</th>
          <td> <input type="text" size="40" value="Juana Carolina Tovar Gomez"></td>

        </tr>
        <tr>

          <th>FECHA DE NACIMIENTO:</th>
          <td> <input type="date" value="1997-06-27"></td>

        </tr>
        <tr>

          <td><strong>ESTATURA:</strong></td>
          <td><strong>PESO:</strong></td>
          <td><strong>EDAD:</strong></td>
        
        </tr>

        <tr>
          <td><input size="8" value="1.47m"></td>
          <td><input size="8" value="52.45kg"></td>
          <td><input size="8" value="25"></td>

        </tr>

        <tr>

          <td></td>
          <td><strong>TIPO DE SANGRE:</strong></td>
          <td><strong>TEL:</strong></td>
        
        </tr>


        <tr>

          <td></td>
          <td><input size="8" value="O+"></td>
          <td><input size="8" value="3127398424"></td>

        </tr>

        <tr>
          
          <td></td>
          <td><strong>PRUEBAS A REALIZAR</strong>(Lo puedes realizar en dos intentos)</td>

        </tr>
        <tr>

          <td><strong>PRUEBA:</strong></td>
          <td><strong>RESULTADO:</strong></td>
          <td><strong>RESULTADO:</strong></td>
        
        </tr>

        <tr>
          <td><strong> FLEXION DE BRAZOS</strong></td>
          <td><input size="8" value=""></td>
          <td><input size="8" value=""></td>

        </tr>

        <tr>
          <td><strong>ABDOMINALES</strong></td>
          <td><input size="8" value=""></td>
          <td><input size="8" value=""></td>

        </tr>

        <tr>
          <td><strong>LUMBARES</strong></td>
          <td><input size="8" value=""></td>
          <td><input size="8" value=""></td>

        </tr>

        <tr>
          <td><strong>AGILIDAD</strong></td>
          <td><input size="8" value=""></td>
          <td><input size="8" value=""></td>

        </tr>

        <tr>
          <td><strong>LANZ. BALON MEDICINAL</strong></td>
          <td><input size="8" value=""></td>
          <td><input size="8" value=""></td>

        </tr>

        <tr>
          <td><strong>VELOCIDAD 50 METROS</strong></td>
          <td><input size="8" value="" ></td>
          <td><input size="8" value=""></td>

        </tr>

        <tr>
          <td><strong>TEST DEL ESCALON</strong></td>
          <td><input size="8" value=""></td>
          <td><input size="8" value=""></td>

        </tr>

        <tr>
          <td><strong>TEST DE COOPER</strong></td>
          <td><input size="8" value=""></td>
          <td><input size="8" value=""></td>

        </tr>


      </tbody>
      
    
    
    
    </table>
    
  
  
  
  
  
    <br><br><button [routerLink]="['/','tercera-pagina'] ">FORMATO FICHA ANTROPOMETRICA</button>
  
  </div>
  
