<div class="container">
    <br><h1 class="container">EJERCICIO FISICO</h1><br>
    <img src="./assets/images/ejer.jpg" width="500px"><br>

    <h3>El ejercicio físico hace referencia a una actividad planificada, estructurada y repetitiva;
      realizada con un propósito claro, de manera frecuente y con un objetivo de mejorar o
      mantener la condición física del individuo. El ejercicio físico también está estrechamente
      ligado con la condición física y la salud. Por condición física se puede entender, el estado
      fisiológico de bienestar que brinda la base para realizar las actividades de la vida cotidiana,
      en un nivel de protección frente posibles enfermedades. Resulta fundamental para el
      desarrollo de las actividades deportivas. Por salud se entiende, el reflejo del bienestar
      físico, mental y social de las personas. La salud también se conoce como la ausencia de
      la enfermedad.</h3>
      

      <br>
      <br><br>
      <h3> Beneficios dl ejercicio fisico</h3><br>
      <ul>
        <li> Proporciona una vida más larga y con mayor calidad.</li>
        <li>Previene enfermedades.</li>
        <li>Disminuye la posibilidad de sufrir infarto.</li>
        <li>Tonifica los músculos.</li>
        <li>Incrementa la fuerza física.</li>
        <li>Mejora el funcionamiento de las articulaciones.</li>
        <li>Previene la obesidad.</li>
        <li>Mejora el humor.</li>
        <li>Ayuda dejar el consumo de alcohol o drogas.</li>
        <li>Aumenta la energía.</li>
        <li>Ayuda a combatir la ansiedad, depresión y estrés mental.</li>
        <li>Aumenta la capacidad de tolerancia respecto a altas
          temperaturas y dolor.</li>
        <li>Proporciona diversión.</li>
        <li>Quema calorías.</li>
        <li>Mejora la capacidad de conciliar el sueño.</li>
        
      </ul><br>
      <img src="./assets/images/ben.png" width="500px" ><br>

  
  
  
  
  
  
    <br><button [routerLink]="['/','primera-pagina'] ">INICIO</button>
  </div>