<div class="container">
  <h1 class="container">TÉCNICAS DE CULTURA FÍSICA EN EL DESEMPEÑO LABORAL</h1>
<h2>CULTURA FISICA</h2>
<h3>Se define como la visión educativa que se centra en el movimiento corporal, su objetivo es desarrollar de manera integral y armónica las capacidades físicas, cognitivas y afectivas de las personas. </h3><br>

<h2>CONDICION FISICA</h2>
<h3>Conjunto de atributos físicos que las personas tienen o alcanzan y que se relacionan con la habilidad de llevar a cabo actividades de la vida diaria, que incluyen la resistencia cardiorespiratoria, la fuerza, la flexibilidad, el control neuromotor y la composición corporal, entre otras.</h3><br>

<h2>ACTIVIDAD FISICA</h2>
<h3>Es todo aquella actividad o ejercicio que genere un gasto de energía y ponga en movimiento a un individuo, de forma corporal, psíquica y emocional.</h3><br>

<h2>VENTAJAS</h2>
<h3>Regula el funcionamiento del corazón, los pulmones, la circulación, los músculos, los huesos, las articulaciones y beneficia la mente, ayuda a reducir riesgos a la salud, fortalece huesos y músculos, permite manejar el peso, aumenta la autoestima, mejora la habilidad para realizar actividades diarias, aumenta las posibilidades de vivir una vida más larga.</h3><br>

  <h3>Es importante desarrollar programas de actividad fisca en el entorno laboral, ya que tiene como beneficios aumentar la productividad de los empleados, disminuye el ausentismo laboral y crea una fuera de trabajo saludable.
  </h3>
<h3></h3>





  <button [routerLink]="['/','segunda-pagina'] ">FORMATO TEST FISICO</button>
</div>





<router-outlet></router-outlet>
