<div class="container">
  <br><h1 class="container">TECNICAS DE VALORACION</h1><br>

  <ul>

    <li>Técnicas patrón: son las más válidas y confiables, también son objetivas, pero a su
      vez son las menos factibles. En general estas técnicas se utilizan a pequeña escala
      y sirven como punto de comparación para validar técnicas más prácticas y menos
      precisas.</li>
    <li>. Técnicas objetivas: en éstas el dato se colecta sin necesidad de procesos cognitivos
o perceptivos del participante. Se miden propiedades asociadas al GEAF o a los
movimientos corporales (cantidad de pasos, frecuencia cardíaca, cambios de posición
geográfica). </li>
    <li>Técnicas subjetivas: requieren algún nivel de procesamiento cognitivo o perceptivo
      del participante para construir el dato. Por ejemplo, las técnicas de cuestionario y
      diario.</li>
    
  </ul>





  <button [routerLink]="['/','sexta-pagina'] ">METODOS DE ENTRENAMIENTO FISICO</button>

</div>